# vim temporary files
.*.sw*

# Don't add to git files which are supposed to be customized
config.sh
config.php
deploy-config.sh
config.json
.htaccess
token.json
credentials.json

#Misc
*.sqlite
generated
bin

# temporary release directory
temp_for_release

# temporary directory for tests
temp-src-copy/

# php unit cache file and coverage
tests/.phpunit.result.cache
file.html
coverage

# phar files
vendor
