openapi: 3.0.3
info:
  title: ZWP Dashboard
  version: 0.0.1
paths:
  /api/trigger-import-run:
    get: # should perhaps be a POST for semantic reasons, but has to be GET in order to be usable by our web cron
      summary: Trigger a run to fetch the last registrations from helloasso and register them in the needed groups
      parameters:
        - name: debug
          in: query
          required: false
          schema:
            type: boolean
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "204":
          description: OK
  /api/members-per-postal-code:
    get:
      summary: "retrieve the list of members per postal code (nb: it's anonymized data)"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - postalCode
                    - count
                  properties:
                    postalCode:
                      type: string # Not an int because this data is regularly badly provided by the member during registration
                    count:
                      type: integer
  /api/slack-accounts-to-reactivate:
    get:
      summary: "Return the emails of members which have a deactivated slack (which likely need to be manually re-enabled)"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/timestampedSlackUserList'
  /api/slack-accounts-to-deactivate:
    get:
      summary: "Return the email that match an active Slack account but not an up to date member"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/timestampedSlackUserList'
  /api/update-user-password:
    post:
      summary: "Make it possible for a user to change his or her password"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currentPassword
                - newPassword
              properties:
                newPassword:
                  type: string
                currentPassword:
                  type: string
      responses:
        "204":
          description: OK
        "400":
          description: Missing new password
        "401":
          description: User is not authenticated
        "403":
          description: currentPassword is incorrect
  /api/members-sorted-by-last-registration-date:
    get:
      summary: Get the list of members who registered since the date specified if any, from the beginning of the current registration period otherwise
      parameters:
        - name: since
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - id
                    - firstName
                    - lastName
                    - email
                    - helloAssoLastRegistrationEventId
                    - firstRegistrationDate
                    - isZWProfessional
                    - lastRegistrationDate
                    - additionalEmails
                  properties:
                    userId:
                      type: integer
                    firstName:
                      type: string
                    lastName:
                      type: string
                    email:
                      type: string
                    postalCode:
                      type: string
                    helloAssoLastRegistrationEventId:
                      type: integer
                    city:
                      type: string
                    howDidYouKnowZwp:
                      type: string
                    wantToDo:
                      type: string
                    firstRegistrationDate:
                      type: string
                      format: date
                    lastRegistrationDate:
                      type: string
                      format: date
                    isZWProfessional:
                      type: boolean
                    additionalEmails:
                      type: array
                      items:
                        type: string
                        format: email
components:
  schemas:
    timestampedSlackUserList:
      type: object
      required:
        - isFresh
        - timestamp
        - members
      properties:
        isFresh:
          type: boolean
        timestamp:
          type: integer
        members:
          type: array
          items:
            type: string
            format: email
