<app-login *ngIf="!loggedIn; else isLoggedIn" (loginSuccessful)="loginInitializedEventReceived()"></app-login>

<ng-template #isLoggedIn>
Logged in
<button class="button" (click)="logout()" [disabled]="logoutInProgress">Logout</button>

<div *ngIf="members === null; else membersLoaded">Chargement des membres en cours</div>

<ng-template #membersLoaded>
<table>
<tr><th>Dernière adhésion</th><th>Nom</th><th>Email</th><th>Localisation</th><th>Intérêt pour</th><th>A connu l'asso</th><th>Plus ancienne adhésion connue</th><th>Pro du ZD</th><tr>
<tr *ngFor="let member of this.members">
	<td>{{member.lastRegistrationDate}}</td>
	<td>{{member.firstName}} {{member.lastName}}</td>
	<td>{{member.email}}</td>
	<td>{{member.city}} {{member.postalCode}}</td>
	<td>{{member.wantToDo}}</td>
	<td>{{member.howDidYouKnowZwp}}</td>
	<td>{{member.firstRegistrationDate}}</td>
	<td>{{member.isZWProfessional}}</td>
</tr>
</table>
</ng-template>


</ng-template>
