<app-login *ngIf="!loggedIn; else isLoggedIn" (loginSuccessful)="loginInitializedEventReceived()"></app-login>

<ng-template #isLoggedIn>
<ul class="menu">
	<li (click)="setPage('members')" [ngClass]="{'active': this.page === 'members'}">Membres</li>
	<li (click)="setPage('account')" [ngClass]="{'active': this.page === 'account'}">Compte</li>
	<li (click)="logout()">Logout</li>
</ul>

<div *ngIf="this.page === 'members'">
<div *ngIf="members === null; else membersLoaded">Chargement des membres en cours</div>

<ng-template #membersLoaded>
<table>
<tr><th>Dernière adhésion</th><th>Nom</th><th>Email</th><th>Localisation</th><th>Intérêt pour</th><th>A connu l'asso</th><th>Plus ancienne adhésion connue</th><th>Pro du ZD</th><tr>
<tr *ngFor="let member of this.members">
	<td>{{member.lastRegistrationDate}}</td>
	<td>{{member.firstName}} {{member.lastName}}</td>
	<td>{{member.email}}</td>
	<td>{{member.city}} {{member.postalCode}}</td>
	<td>{{member.wantToDo}}</td>
	<td>{{member.howDidYouKnowZwp}}</td>
	<td>{{member.firstRegistrationDate}}</td>
	<td>{{member.isZWProfessional}}</td>
</tr>
</table>
</ng-template>
</div>

<app-password-changer *ngIf="this.page === 'account'" (passwordChangedSuccessfully)="passwordChangedSuccessfullyEventReceived()"></app-password-changer>

</ng-template>
